.container {
  background-color: aliceblue;
  position: absolute;
  border: 1px solid;
  padding: 30px;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
