.invalid-feedback{
    display: inline;
}

.userNames{
    margin-left: 42px;
    margin-right: 42px;
}

.btn{
    margin-left: 17px;
    margin-bottom: 6px;
}
.mat-card{
    top: 50px;
}
 .mat-card-title{
    font-size: 18px;
    font-variant: petite-caps;
    color: teal;
 }